<form>
    <mat-form-field>
        <input type="text" placeholder="Seleccione los actores" matInput [formControl]="control" [matAutocomplete]="auto" />
    </mat-form-field>

    <mat-autocomplete #auto (optionSelected)="optionSelected($event)" >
        <mat-option *ngFor="let opcion of actores" [value]="opcion" >
            <img [src]="opcion.foto" /> {{opcion.nombre}}
        </mat-option>
    </mat-autocomplete>
</form>


  <table *ngIf="actoresSeleccionados.length > 0" class="mat-elevation-z8" cdkDropList
    [cdkDropListData]="actoresSeleccionados" (cdkDropListData)="finalizarArrastre($event)"> 

    <tr>
        <th>N°</th>
        <th>Nombre</th>
        <th>personaje</th>
        <th></th>
    </tr>
    <tr *ngFor="let actor of actoresSeleccionados" cdkDrag [cdkDragData]="actor">  
        <td><img style="width: 50px;" [src]="actor.foto"></td>   
        <td>{{actor.nombre}} </td>   
        <td> 
            <mat-form-field appearence="outline" >
                <mat-label>Personaje</mat-label>
                <input matInput [(ngModel)]="actor.personaje" />
            </mat-form-field>
             </td>   
        <td> <mat-icon mat-list-icon (click)="eliminar(actor)" >
            close
        </mat-icon> </td>                
    </tr>
   
 
</table> 
