<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>local_movies</mat-icon> Angular Peliculas                 
        </a>
    </span>
    <div>
        <a mat-button routerLink="peliculas/buscar">
            <mat-icon>search</mat-icon>Buscar Películas
        </a>
    </div>

    <app-autorizado [rol]="'admin'" >
        <ng-container autorizado>

            <div>
                <a routerLink="generos" mat-button>Géneros</a>
            </div>
            <div>
                <a routerLink="actores" mat-button>Actores</a>
            </div>
            <div>
                <a routerLink="cines" mat-button>Cines</a>
            </div>
            <div>
                <a routerLink="peliculas/crear" mat-button>Crear película</a>
            </div>

        </ng-container>
    </app-autorizado>

    <div class="espacio"></div>

    <app-autorizado>
        <ng-container autorizado>
         <span>Hola, {{seguridadService.obtenerCampoJWT('email')}}</span> 
        <a mat-button (click)="seguridadService.logout()">Logout</a>
        </ng-container>
        <ng-container noAutorizado>
        <a mat-button routerLink="login">Login</a>
        <a mat-button routerLink="registro">Registro</a>
        </ng-container>
    </app-autorizado>  


   
</mat-toolbar>
